/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */

h1,h2,h3,h4,h5,h6{
  line-height: 180%;
}
h1{font-size: 250%;}
h2{font-size: 200%;}
h3{font-size: 120%;}
h4{font-size: 100%;}
h5{font-size: 80%;}
h6{font-size: 60%;}

.sans-serif {
  font-family: 'Lato', sans-serif;
}

.light {
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.bold{
  font-weight: 700;
}

.italic{
  font-style: italic;
}
.serif{
  font-family: 'PT Serif', serif;
}
.white{
  color:white;
}

/* Header of the Puzzle */

header{
  position: static;
  display: block;
  padding: 2% 0 2% 0;
  margin: 0;
  width:100%;
  background-color: #FE6F75;
  color: white;
  position:fixed;
  text-align: center;
  box-shadow: 5px 5px 3px #afafaf;
  z-index: 100;
}

/* Main Game Area*/
section{
  position: static;
  padding: 15% 0 2% 0;
  margin: 0;
  min-height: 800px;
  background-color: #F7F4C0;
  color: rgb(100,100,100);
}

.text-center{
  text-align: center;
}

.row{
  margin: 0% 15%;
  padding: 2%;
  border: solid #39CAB7 2px;
}


.column{
  display: inline-block;
  width: 45%;
}

.tile{
  display: inline-block;
  border-style: solid;
  border-width: 3px
  border-color: black;
  position: absolute;
}

div#gameBody {
  position:relative;
  border:0;
  margin:0 auto;
}

.align-right{
  text-align: right;
}
.green{
  background-color: #39CAB7;
}

/* Element Design */

button{
  height:50px;
  width:120px;
  border: 2px solid #57766C;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-color: #57766C;
  transition: background-color 300ms ease;
}

button:hover{
  color: #57766C;
  border: 2px solid #57766C;
  background: rgba(255,255,255,0.5);
}


/* Footer */
footer{
  padding: 2% 0 2% 0;
  background-color: #FE6F75; 
  color: white; 
  box-shadow: -5px -5px 3px #afafaf;
  text-align: center;
}
